# Ignore everything by default
*

# Only required directories
!controller/
!engine/
!setup/
!common/
!db/
!templates/
!ensemble/
!mech/

# Ignore unnecessary files in the included directories
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.env
**/.venv
**/env/
**/venv/
**/ENV/
**/Dockerfile
**/.server
**/.git
**/*.log
**/npm-debug.log
**/.dockerignore
**/.md

# Very important we don't overwrite the node_modules build for the container
**/node_modules

# Ignore dist directories - they should be built inside the container
**/dist
controller/dist
engine/dist
