# Version control
.git
.gitignore

# dependencies
node_modules

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/

# Temporary files
*.swp
*.swo
.tmp/
tmp/

# Android
android/app/build/
android/app/google-services.json
android/.gradle/
android/build/
android/captures/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcodeproj/*
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata/
!ios/*.xcodeproj/project.xcworkspace/
!ios/*.xcworkspace/contents.xcworkspacedata
ios/.xcode.env.local

# Documentation
README.md
LICENSE
docs/

# Test files
__tests__
tests
*.test.js
*.spec.js